{% extends "base.html" %}

{% block content %}
<div class="registration-container">
{% if form.errors %}
  <div class="first-row">Your username and password didn't match. Please try again.</div>
{% endif %}

{% if next %}
  {% if user.is_authenticated %}
    <div class="first-row">Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</div>
  {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}
<div>

<div class="login-row">
  <div class="login-label">{{ form.username.label_tag }}</div>
  <div class="login-field">{{ form.username }}</div>
</div>

<div class="login-row">
  <div class="login-label">{{ form.password.label_tag }}</div>
  <div class="login-field">{{ form.password }}</div>
</div>
</div>

<div class="login-submit">
<input type="submit" value="login" />
<input type="hidden" name="next" value="{{ next }}" />
</div>
</form>

{# Assumes you setup the password_reset view in your URLconf #}
{#<p><a href="{% url 'password_reset' %}">Lost password?</a></p>#}
</div>

{% endblock %}