{% extends "base.html" %}
{% load static %}

{% block title %}Rezept {{ object.title }}{% endblock %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'recipes/style.css' %}">
{% endblock %}

{% block content %}


<div class="recipe">

    <div class="recipe-header gutter">

        <section class="">
            <div class="image">
                {% if object.picture_set.get %}
                    <img src="{{ object.picture_set.get.image.url }}" alt="{{ object.title }}">
                {% endif %}
            </div>
            <h1 class="title gutter">{{ object.title }}</h1>
            <aside class="description gutter">
                <div class="tags">
                    {% for tag in object.tags.all %}
                        <div class="tag" style="color:{{ tag.font }};background-color:{{ tag.color }}">{{ tag.name }}</div>
                    {% endfor %}
                </div>
                <div class="recipe-times">
                {% if object.preparationtime %}
                    <div class="duration-type">
                        <div class="duration-title">Vorbereitungszeit:</div><div>{{ object.preparationtime }} min</div>
                    </div>
                {% endif %}
                {% if object.cooktime %}
                    <div class="duration-type">
                        <div class="duration-title">Koch-/Backzeit:</div><div>{{ object.cooktime }} min</div>
                    </div>
                {% endif %}
                {% if object.resttime %}
                    <div class="duration-type">
                        <div class="duration-title">Ruhezeit:</div><div>{{ object.resttime }} Stunden</div>
                    </div>
                {% endif %}
                </div>
            </aside>
        </section>
    </div>




    <div class="recipe-details gutter">
        <section class="ingredients">
            <h3 class="section-title">Zutaten</h3>
                <div class="ingredient-details">
                {% regroup object.ingredient_set.all by group as ingredient_set %}
                    {% for group in ingredient_set %}
                        <div>
                            <div class="ingredients-group">{{ group.grouper|upper }}</div>
                        <ul class="ingredient-list">
                            {% for ingredient in group.list %}
                                <li class="ingredient-item">
                                    <span class="ingredient-quantity"> {{ ingredient.quantity }} </span>
                                    <span class="ingredient-name"> {{ ingredient.name }} </span>
                                </li>
                            {% empty %}
                                <li class="ingredient-item"> Keine Zutaten gefunden</li>
                            {% endfor %}
                        </ul>
                        </div>
                    {% endfor %}
                </div>
        </section>


        <section class="directions">
            <h3 class="section-title">Zubereitung</h3>
                {% for direction in object.direction_set.all %}
                    <div class="direction-row">
                        <div class="direction-step">{{ direction.step }}</div>
                        <div class="direction-text">{{ direction.description }}</div>
                    </div>
                    {% empty %}
                        <li class="ingredient-item"> Keine Zutaten gefunden</li>
                {% endfor %}


            {% if object.note %}
                <div class="recipe-notes">
                {{ object.note }}
                </div>
            {% endif %}

        </section>
    </div>
</div>

{% endblock %}