{% extends 'base.html' %}


{% block title %}Rezeptsuche{% if submitbutton %}: {{ request.GET.searchstring }}{% endif %}{% endblock %}


{% block content %}
<h1>Rezeptsuche</h1>

<form action="" method="GET">
    <input type="text" name="searchstring" value="{{request.GET.searchstring}}" placeholder="Nach Rezept, Zutat, etc. suchen"/>
    <input type="submit" name="submit" value="Search"/>
</form>

<div class="gutter">
    {% if submitbutton == 'Search' and request.GET.searchstring != '' %}
        {% if results %}
            <h3>Resultate für: <b>{{ request.GET.searchstring }}</b></h3>
            {% include 'recipes/recipe_list.html' with recipe_list=results %}
        {% else %}
            No search results for this query
        {% endif %}
    {% endif %}
</div>
{% endblock %}

