{% extends 'base.html' %}

{% load static recipes %}


{% block js-head %}{{ block.super }}
{% if 'DEBUG'|get_setting %}
    <script type="text/javascript" src="{% static 'recipes/script/vue.js' %}"></script>{% else %}
    <script type="text/javascript" src="{% static 'recipes/script/vue.min.js' %}"></script>{% endif %}
    <script type="text/javascript" src="{% static 'recipes/script/search.js' %}"></script>
{% endblock %}


{% block js-foot %}{{ block.super }}
{{ recipes|recipe_vuemodel|json_script:'init-recipes' }}

<script type="application/json" id="init-search">
{
    "search_string": "{{ search_form.search_string.value|default:''|escapejs }}",
    "tags": [{% for tag in search_form.tags %}
        {
            "name": "{{ tag.name|escapejs }}",
            "font": "{{ tag.font|escapejs }}",
            "color": "{{ tag.color|escapejs }}",
            "state": {% with search_form|attr:tag.query_key as field %}{{ field.value|yesno:'true,false,null' }}{% endwith %}
        }{% if not forloop.last %},{% endif %}{% endfor %}
    ],
    "endpoint": "{% url 'recipes:search_api' %}"
}
</script>

<script type="text/javascript">
    (function () {
        const { RecipeList, SearchWidget } = window.recipeSearch;
        const recipeData = JSON.parse(document.getElementById('init-recipes').textContent);
        const searchData = JSON.parse(document.getElementById('init-search').textContent);
        const searchResults = new RecipeList({
            el: '#search-results',
            propsData: {
                recipes: recipeData,
            }
        });
        const searchWidget = new SearchWidget({
            el: '#recipe-search',
            propsData: {
                ...searchData,
                recipes: recipeData,
            },
        });
        searchWidget.$on(SearchWidget.options.NEW_RESULT, searchResults.setItems);
    })();
</script>
{% endblock %}

{% block title %}Rezeptsuche{% if search_results %}: {{ search_string }}{% endif %}{% endblock %}


{% block header-after %}
<div class="gutter search">
    <h1>Rezeptsuche</h1>

    <div id="recipe-search"></div>
</div>
{% endblock %}


{% block content %}
<div id="search-results" class="gutter search-results"></div>
{% endblock %}

