<h1>Rezeptsuche</h1>

<br/>
<form action="" method="GET" value="{{request.GET.searchstring}}">
<input type="text" name="searchstring" value="{{request.GET.searchstring}}" placeholder="Nach Rezept, Zutat, etc. suchen"/>
<input type="submit" name="submit" value="Search"/>
</form>


{% if submitbutton == 'Search' and request.GET.searchstring != '' %}
    {% if results %}
        <h3>Resultate für: <b>{{ request.GET.searchstring }}</b></h3>
        <br/><br/>
        {% for result in results %}
            {{result.title}}
            <br/>
        {% endfor %}
    {% else %}
        No search results for this query
    {% endif %}
{% endif %}
