<!doctype html>
<html lang="en">
<head>
    {% load static %}

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>{% block title %}Recipy{% endblock %}</title>

    {% block styles %}
        <link rel="stylesheet" type="text/css" href="{% static 'recipes/style.css' %}">
    {% endblock %}

    {% block js-head %}{% endblock %}
</head>
<body>

{% block header %}{% endblock %}

{% block content %}{% endblock %}

{% block js-foot %}{% endblock %}

</body>
</html>
