body {
    font-family: sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;

    @media screen and (max-width: 768px){
        font-size: 16px;
    }
}

.recipe {}

$page-gutter-width: 900px;

.gutter {
    max-width: $page-gutter-width;
    margin: auto;
    display: block;
    padding-left: 5px;
    padding-right: 5px;

    @media screen and (min-width: 900px) {
        padding-left: 0;
        padding-right: 0;
    }
}


.recipe-header {}

.title {
    margin: 20px auto 10px auto;
    display: block;
    font-size: 45px;
}
.image {
    img {
        width: 900px;
        max-height: 550px;
        margin: 0 auto;
        display: block;
        object-fit: cover;
        object-position: 50% 50%;
    }
}

.description {
    display: flex;
    flex-direction: column;
    border: 0 solid #073642;
    padding-bottom: 15px;
    border-bottom-width: 8px;
    border-radius: 8px;
}
.tags {
    display: flex;
    margin: 10px 0;
    align-items: flex-start;
}
.tag {
    border: 2px solid transparent;
    border-radius: 5px;
    display: inline-block;
    margin: 0 5px 9px 0;
    padding: 3px 6px;
    font-weight: bold;
    text-decoration: none;
    box-shadow: 3px 3px 2px #292929;

    cursor: pointer;
}

.recipe-times {
    margin: 10px 0 15px 0;
    display: flex;
}
.duration-type {
    display: flex;
    margin-right: 50px;
}
.duration-title {
    font-weight: bold;
    margin-right: 8px;
}

.recipe-details {}

.section-title {
    margin-bottom: 15px;
}

.ingredients {
    display: block;
    float: left;
    width: 30%;
    margin-top: 20px;
    margin-right: 2%;
}
.ingredient-details {
}
.ingredient-list {
    padding-left: 20px;
    list-style-type: none;
}
.ingredients-group {
    margin: 20px 0 10px 0;
}

.ingredient-item {
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 30px;
    padding-left: 15px;
    text-indent: -15px;
}

.ingredient-quantity {
    font-weight: bold;
}

.ingredient-name {}

.directions {
    display: block;
    float: left;
    width: 66%;
    margin-top: 20px;
}

.direction-row {
    display: flex;
    margin: 20px 0 20px 20px;
}
.direction-step {
    font-size: 30px;
    margin-right: 10px;
}
.direction-text {}


.recipe-notes {
    margin: 50px 0 20px 50px;
    font-style: italic;
}

/////////////// recipe_list ///////////////

$recipe-list-margin: 4px;

.recipe-list {
    overflow: hidden;

    @media screen and (min-width: $page-gutter-width) {
        overflow: visible;
    }
}

.recipe-list-overflow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    margin: 0 -$recipe-list-margin;

    @media screen and (min-width: 768px) {
        margin: 0 -2*$recipe-list-margin;
    }
}

.recipe-list-gutter {
    flex-grow: 1;

    flex-basis: 150px;

    @media screen and (min-width: 768px) {
        flex-basis: 290px;
    }
}

.recipe-list-item {
    background-color: #f7f7ee;
    margin: 0 $recipe-list-margin 2*$recipe-list-margin;

    box-shadow: 2px 2px 5px -1px rgba(0,0,0,0.3);

    @media screen and (min-width: 768px) {
        margin: 0 2*$recipe-list-margin 4*$recipe-list-margin;
    }

    a {
        text-decoration: none;
    }
}

.recipe-list-image {
    width: 100%;
    padding-top: 55%;
    position: relative;

    img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
        object-position: 50% 50%;
    }
}

$recipe-list-desc-lh: 21px;
.recipe-list-desc {
    padding: 10px;
}

.recipe-list-name {
    font-weight: bold;
    color: black;
    display: block;
    height: 3 * $recipe-list-desc-lh;
    line-height: $recipe-list-desc-lh;
}

.recipe-list-tags {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    height: 41px;
    flex-wrap: wrap;

    .tag {
        flex-grow: 0;
        width: auto;
        font-size: 12px;
        line-height: 12px;
        height: 14px;
        margin-right: 1px;
    }
}

/////////////// page_header ///////////////

$header-color: #1a4854;
$header-font: white;
//$header-font: #fdf6e3;

.page-header {
    background-color: $header-color;
    &, a {
        color: $header-font;
    }
}

.header-nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 72px;
    padding: 0 8px;
}

.header-buttons-left, .header-buttons-right {
    //flex-basis: 1px;
    flex-grow: 0;

    display: flex;
    flex-direction: row;
}

.header-button {
    width: 72px;
    height: 72px;
    position: relative;

    a {
        width: 100%;
        height: 100%;

        &:after {
            content: '';
            display: block;
            width: 32px;
            height: 32px;
            position: absolute;
            top: 20px;
            left: 20px;
        }
    }
}

.button-home a:after {
    background-image: url("home_" + $header-font + ".png");
    background-repeat: no-repeat;
    background-size: 32px 32px;
}

.button-import a:after {
    background-image: url("crawler_" + $header-font + ".png");
    background-repeat: no-repeat;
    background-size: 32px 32px;
}

.button-create a:after {
    background-image: url("create_" + $header-font + ".png");
    background-repeat: no-repeat;
    background-size: 32px 32px;
}

.button-edit a:after {
    background-image: url("edit_" + $header-font + ".png");
    background-repeat: no-repeat;
    background-size: 32px 32px;
}

.button-save {
    input {
        padding: 0;
        border: 0;
        display: block;
        font-size: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
        background-color: transparent;
        background-image: url("save_" + $header-font + ".png");
        background-position: 20px 20px;
        background-repeat: no-repeat;
        background-size: 32px 32px;
    }
}

/////////////// recipe_search ///////////////

.search {
    padding-bottom: 16px;
}

.search form {
    position: relative;
    margin-bottom: 16px;
}

.search-string {
    border: none;
    padding: 8px 16px;
    line-height: 30px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    color: #657b83;
    background-color: #fdf6e3;
}

.search-submit {
    position: absolute;
    //height: 46px;
    top: 0;
    right: 0;
    border: none;
    padding: 8px;

    display: block;
    width: 30px;
    height: 30px;
    background: url("search_black.png") no-repeat 8px 8px;
    background-size: 30px 30px;
    font-size: 0;
    box-sizing: content-box;
}

@mixin include-tag {
    text-decoration: underline;
    box-shadow: 3px 3px 2px #292929, inset 3px 3px 3px #292929c2;
}

@mixin exclude-tag {
    text-decoration: line-through;
    box-shadow: 3px 3px 2px #292929, inset 3px 3px 3px #292929c2;
}

.include-tag {
    @include include-tag;
}

.exclude-tag {
    @include exclude-tag;
}

/////////////// recipe_create ///////////////

@mixin flex-percent($percent) {
    .flex-#{$percent} {
        flex-basis: $percent * 1%;
        flex-grow: 1;

        & ~ [class*="flex-"] {
            margin-left: 10px;
        }
    }
}

.flex-row {
    display: flex;
    flex-direction: row;

    @include flex-percent(40);
    @include flex-percent(50);
    @include flex-percent(60);
    @include flex-percent(100);
}

.md-select {
    font-size: 1em;
    margin: 0.6em 0 0;

    select {
        font-size: 1em;
        display: block;
        width: 100%;
        height: 100%;
    }
}

$md-text-input-spacing: 0.6rem;
$md-text-input-height: 1.2em;
$md-text-input-padding: 10px;
.md-text-input {
    $padding-left: 16px;
    $padding-top: $md-text-input-padding;
    $spacing: $md-text-input-spacing;
    $height: $md-text-input-height;

    position: relative;
    font-size: 1rem;
    margin: $spacing 0 0;

    &.md-lg {
        font-size: 1.4rem;
    }

    input, textarea {
        $fixed-height: 2*$padding-top + 2px;
        font-size: 1em;
        border: 1px solid black;
        border-radius: .3em;
        padding: $padding-top $padding-left;
        margin: 0;
        display: block;
        width: 100%;
        box-sizing: border-box;
        line-height: $height;
        resize: vertical;
        height: calc(#{$height} + #{$fixed-height});
    }

    label {
        $font-size: 0.8rem;
        $label-padding: 3px;
        position: absolute;
        background: white;
        top: -($spacing * $font-size / 1rem);
        font-size: $font-size;
        left: $padding-left + 1 - $label-padding;
        padding: 0 $label-padding;
        transition: none;

        body.ready & {
            transition: top 10ms linear, left 10ms linear;
        }
    }

    // todo: wait for :blank to be implemented
    //input:blank:not(:focus) + label {
    input, textarea {
        &.blank:not(:focus) + label {
            font-size: 1em;
            top: 1 + $padding-top;

            opacity: 0.6;
        }
    }
}

.create-tag {
    ul {
        list-style: none;
        display: flex;
        padding: 0;
        width: 100%;
        flex-wrap: wrap;
    }

    li {
        flex: auto 0;
    }

    input {
        display: none;
    }

    :checked + .tag {
        @include include-tag;
    }
}

#create-recipe input[type="checkbox"][name$="DELETE"] {
    display: none;
}

.create-ingredient {
    margin-left: 1rem;
    position: relative;

    :checked + & {
        > :not(.ingredient-delete) {
            visibility: hidden;
        }

        &:after {
            content: 'Gelöscht';
            position: absolute;
            height: calc(#{$md-text-input-height} + #{$md-text-input-padding * 2});
            right: 0;
            bottom: 0;
            left: 0;
            border-radius: .3em;
            background-color: lightblue;
            display: flex;
            justify-content: center; /* align horizontal */
            align-items: center; /* align vertical */
        }
    }
}

.ingredient-delete {
    position: absolute;
    margin-right: 1rem;
    right: 100%;
    bottom: 0;
}



.create-direction {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: flex-start;

    :checked + & {
        > :not(.direction-delete) {
            visibility: hidden;
        }

        &:after {
            content: 'Gelöscht';
            position: absolute;
            height: calc(#{$md-text-input-height} + #{$md-text-input-padding * 2});
            right: 0;
            bottom: 0;
            left: 0;
            border-radius: .3em;
            background-color: lightblue;
            display: flex;
            justify-content: center; /* align horizontal */
            align-items: center; /* align vertical */
        }
    }

    .md-text-input {
        input, textarea {
            //height: 0;
        }
    }
}

.direction-delete {
    margin-left: 0.8rem;
    margin-top: 0.6rem;

    order: 2;
}

.direction-delete, .ingredient-delete {
    $height-total: calc(#{$md-text-input-height} + #{$md-text-input-padding * 2});
    height: $height-total;
    width: $height-total;

    label {
        $size: 70%;
        $offset: 100% - $size;

        display: block;
        height: 100%;
        width: 100%;

        background-image: url("delete_black.png");
        background-size: $size $size;
        background-position: $offset $offset;
        background-repeat: no-repeat;
        font-size: 0;

        opacity: 0.6;
    }
}
