body {
  font-family: sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 0; }

.gutter {
  max-width: 900px;
  margin: auto;
  display: block; }

.title {
  margin: 20px auto 10px auto;
  display: block;
  font-size: 45px; }

.image img {
  width: 900px;
  max-height: 550px;
  margin: 0 auto;
  display: block;
  object-fit: cover;
  object-position: 50% 50%; }

.description {
  display: flex;
  flex-direction: column;
  border: 0 solid #073642;
  padding-bottom: 15px;
  border-bottom-width: 8px;
  border-radius: 8px; }

.tags {
  display: flex;
  margin: 10px 0;
  align-items: flex-start; }

.tag {
  border: 2px solid transparent;
  border-radius: 5px;
  display: inline-block;
  margin: 0 5px 9px 0;
  padding: 3px 6px;
  font-weight: bold;
  text-decoration: none;
  box-shadow: 3px 3px 2px #292929; }

.recipe-times {
  margin: 10px 0 15px 0;
  display: flex; }

.duration-type {
  display: flex;
  margin-right: 50px; }

.duration-title {
  font-weight: bold;
  margin-right: 8px; }

.section-title {
  margin-bottom: 15px; }

.ingredients {
  display: block;
  float: left;
  width: 30%;
  margin-top: 20px;
  margin-right: 2%; }

.ingredient-list {
  padding-left: 20px;
  list-style-type: none; }

.ingredients-group {
  margin: 20px 0 10px 0; }

.ingredient-item {
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 30px;
  padding-left: 15px;
  text-indent: -15px; }

.ingredient-quantity {
  font-weight: bold; }

.directions {
  display: block;
  float: left;
  width: 66%;
  margin-top: 20px; }

.direction-row {
  display: flex;
  margin: 20px 0 20px 20px; }

.direction-step {
  font-size: 30px;
  margin-right: 10px; }

.recipe-notes {
  margin: 50px 0 20px 50px;
  font-style: italic; }

.recipe-list {
  overflow: hidden; }
  @media screen and (min-width: 900px) {
    .recipe-list {
      overflow: visible; } }

.recipe-list-overflow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  margin: -4px; }
  @media screen and (min-width: 768px) {
    .recipe-list-overflow {
      margin: 0 -8px; } }

.recipe-list-gutter {
  flex-grow: 1;
  flex-basis: 150px; }
  @media screen and (min-width: 768px) {
    .recipe-list-gutter {
      flex-basis: 290px; } }

.recipe-list-item {
  background-color: #f7f7ee;
  margin: 0 4px 8px;
  box-shadow: 2px 2px 5px -1px rgba(0, 0, 0, 0.3); }
  @media screen and (min-width: 768px) {
    .recipe-list-item {
      margin: 0 8px 16px; } }
  .recipe-list-item a {
    text-decoration: none; }

.recipe-list-image {
  width: 100%;
  padding-top: 55%;
  position: relative; }
  .recipe-list-image img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: 50% 50%; }

.recipe-list-desc {
  padding: 10px; }

.recipe-list-name {
  font-weight: bold;
  color: black;
  display: block;
  height: 63px;
  line-height: 21px; }

.recipe-list-tags {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  height: 41px;
  flex-wrap: wrap; }
  .recipe-list-tags .tag {
    flex-grow: 0;
    width: auto;
    font-size: 12px;
    line-height: 12px;
    height: 14px;
    margin-right: 1px; }

.page-header {
  background-color: #1a4854; }
  .page-header, .page-header a {
    color: white; }

.header-nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  height: 72px;
  padding: 0 8px; }

.header-buttons-left, .header-buttons-right {
  flex-grow: 0;
  display: flex;
  flex-direction: row; }

.header-button {
  width: 72px;
  height: 72px;
  position: relative; }
  .header-button a {
    width: 100%;
    height: 100%; }
    .header-button a:after {
      content: '';
      display: block;
      width: 32px;
      height: 32px;
      position: absolute;
      top: 20px;
      left: 20px; }

.button-home a:after {
  background-image: url("home_white.png");
  background-repeat: no-repeat;
  background-size: 32px 32px; }

.button-import a:after {
  background-image: url("crawler_white.png");
  background-repeat: no-repeat;
  background-size: 32px 32px; }

.button-create a:after {
  background-image: url("create_white.png");
  background-repeat: no-repeat;
  background-size: 32px 32px; }

.button-edit a:after {
  background-image: url("edit_white.png");
  background-repeat: no-repeat;
  background-size: 32px 32px; }

.search {
  padding-bottom: 16px; }

.search form {
  position: relative;
  margin-bottom: 16px; }

.search-string {
  border: none;
  padding: 8px 16px;
  line-height: 30px;
  display: block;
  width: 100%;
  box-sizing: border-box;
  color: #657b83;
  background-color: #fdf6e3; }

.search-submit {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  padding: 8px;
  display: block;
  width: 30px;
  height: 30px;
  background: url("search_black.png") no-repeat 8px 8px;
  background-size: 30px 30px;
  font-size: 0;
  box-sizing: content-box; }

.include-tag {
  text-decoration: underline;
  box-shadow: 3px 3px 2px #292929, inset 3px 3px 3px #292929c2; }

.exclude-tag {
  text-decoration: line-through;
  box-shadow: 3px 3px 2px #292929, inset 3px 3px 3px #292929c2; }
